html body footer {
  font-size: 11px;
}

html body h2 {
  margin-top: 26.5px;
  margin-bottom: 9.5px; 
  font-size: 26.5px;
}

li > p ~ ul,
li > p ~ ol {
  margin-top: -10px;
  margin-bottom: 10px;
}

li {
  text-align: justify;
  line-height: 20px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 15px;
}

p {
  margin-bottom: 14px;
  text-align: justify;
  line-height: 20px;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 15px;
}

p img:only-child {
  display: block;
  margin: 20px auto;
}
